h1{
    color: green;
}
/* General*/
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0 156px;
}

