@import url(./fonts.css); 



h1{
    color: green;
}
/* General*/
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0 156px;
}

.header {
    background-color: #4694DC;
    min-height: 500px;
    padding-top: 119px;
    padding-bottom: 82px;
    font-family: 'Montserrat SemiBold', sans-serif;
    color: #fff;
}
.header_title {
    font-size: 56px;
    margin-bottom: 35px;
}
.header_text {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 16px;
    margin-bottom: 47px;
    max-width: 437px;
    line-height: 24px;
}
.header_button {
    font-family: 'Montserrat Regular', sans-serif;
    width: 194px;
    height: 60px;
    font-size: 16px;
    border: none;
}


